@font-face {
  font-family: "digital";
  src: url("./download/DS-DIGIB.TTF") format("truetype");
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

%putCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%btnStyle {
  color: black;
  background-color: white;
  font-weight: 900;
  padding: 5px 10px 5px 10px;
  border-radius: 100px;
}

%inputStyle {
  width: 250px;
  height: 25px;
  font-size: 15px;
}

body {
  margin: 0;
  color: rgb(22, 22, 22);
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .time {
    font-family: "digital";
    color: black;
    font-size: 150px;
    font-weight: 900;
  }

  .quotes {
    position: relative;
    font-size: 60px;
    padding-top: 20px;

    .quotesAddBtn {
      display: none;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }

    &:hover {
      .quotesAddBtn {
        @extend %btnStyle;
        display: inline-block;
      }
    }
  }

  .newQuotes {
    display: none;
    margin-top: 20px;

    .newQuotesInput {
      @extend %inputStyle;
    }
    .newQuotesButton {
      @extend %btnStyle;
    }
    .newQuotesView {
      color: black;
      background-color: white;
      font-weight: 900;
      border-radius: 9999px;
    }
  }

  .search {
    .searchTitle {
      @extend %putCenter;
      padding-top: 20px;

      .searchLogo {
        width: 32px;
        height: 32px;

        animation: spin 5s linear infinite;
      }
      .searchMsg {
        padding-left: 10px;
      }
    }
    .searchForm {
      @extend %putCenter;
      padding-top: 20px;

      .searchInput {
        @extend %inputStyle;
      }

      .searchButton {
        @extend %btnStyle;
        margin-left: 10px;
      }
    }
  }

  .searchResult {
    margin: 30px;
    padding: 10px;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }

  .nft {
    position: fixed;
    top: 0;
    right: 0;
    margin: 24px;

    img {
      width: 256px;
      height: 256px;
    }

    .nftHover {
      position: absolute;
      display: none;
      width: 256px;
      height: 256px;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);

      a {
        @extend %btnStyle;
      }
      button {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 0;
        right: 0;
        margin: -8px;
        border-radius: 9999px;
      }
    }

    &:hover {
      .nftHover {
        @extend %putCenter;
      }
    }
  }

  .nftView {
    position: fixed;
    top: 0;
    right: 0;
    margin: 24px;
    display: none;
    @extend %btnStyle;
  }
}
